@{
    ViewData["Title"] = "Înregistrare";
}
@model RegisterModel
@Html.ValidationSummary(true, null, new { @class = "text-danger" })
@using (Html.BeginForm("Registration", "Auth", FormMethod.Post))
{

    <link rel="stylesheet" type="text/css" href="~/Login/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Login/css/main.css">

    <section class="u-clearfix u-section-1" id="sec-0d74">
        <div class="u-clearfix u-custom-html u-expanded-width u-custom-html-1">


            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

            <div class="limiter">
                <div class="container-login100" style="background-image: url('~/Login/images/img-01.jpg');">
                    <div class="wrap-login100  p-b-20">
                        <center><img src="~/Index/images/RVTLogo.png" alt=""></center>
                        <form class="login100-form validate-form">
                            <span class="login100-form-title p-b-20">
                                Înregistrare
                            </span>
                            @Html.AntiForgeryToken()
                            <div class="wrap-input100 validate-input m-b-10" data-validate="Name is required">
                                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { placeholder = "Nume", @class = "input100", @type = "Name" } })
                                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">

                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <div class="wrap-input100 validate-input m-b-10" data-validate="Surname is required">
                                <span class="focus-input100"></span>
                                @Html.EditorFor(m => m.Surname, new { htmlAttributes = new { placeholder = "Prenume", @class = "input100", @type = "Surname" } })
                                @Html.ValidationMessageFor(m => m.Surname, null, new { @class = "text-danger" })
                                <span class="symbol-input100">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <div class="wrap-input100 validate-input m-b-10" data-validate="Gender is required">
                                <div class="wrap-input100 validate-input m-b-10" data-validate="Region is required">
                                    @Html.DropDownListFor(m => m.Gender, new SelectListItem[] { new SelectListItem() { Text = "Masculin", Value = "Masculin" }, new SelectListItem() { Text = "Feminin", Value = "Feminin" } }, new { @onchange = "BindTextBoxValue(this.value)", @class = "input100", placeholder = "Gender", style = "color: slategrey" })

                                    <span class="focus-input100"></span>
                                    <span class="symbol-input100">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-10" data-validate="Birth date is required">
                                    @Html.EditorFor(m => m.Birth_date, new { htmlAttributes = new { placeholder = "Birth date", @class = "input100", @type = "date", style = "color: slategrey" } })
                                    @Html.ValidationMessageFor(m => m.Birth_date, null, new { @class = "text-danger" })
                                    <span class="focus-input100"></span>
                                    <span class="symbol-input100">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-10" data-validate="IDNP is required">
                                    @Html.EditorFor(m => m.IDNP, new { htmlAttributes = new { placeholder = "IDNP", @class = "input100", @type = "IDNP" } })
                                    @Html.ValidationMessageFor(m => m.IDNP, null, new { @class = "text-danger" })
                                    <span class="focus-input100"></span>
                                    <span class="symbol-input100">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-10" data-validate="Phone number is required">

                                    @Html.EditorFor(m => m.Phone_Number, new { htmlAttributes = new { placeholder = "Numărul de telefon", @class = "input100", @type = "phonenumber" } })
                                    @Html.ValidationMessageFor(m => m.Phone_Number, null, new { @class = "text-danger" })
                                    <span class="focus-input100"></span>
                                    <span class="symbol-input100">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-10" data-validate="Email is required">
                                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { placeholder = "Email", @class = "input100", @type = "email" } })
                                    @Html.ValidationMessageFor(m => m.Email)
                                    <span class="focus-input100"></span>
                                    <span class="symbol-input100">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-10" data-validate="Region is required">
                                    @Html.DropDownListFor(m => m.Region, new SelectListItem[] {new SelectListItem() {Text = "Anenii Noi", Value = "Anenii Noi"},
                                    new SelectListItem() {Text = "Bălți", Value = "Balti"},
                                    new SelectListItem() {Text = "Tighina", Value = "Tighina"},
                                    new SelectListItem() {Text = "Briceni", Value = "Briceni"},
                                    new SelectListItem() {Text = "Basarabeasca", Value = "Basarabeasca"},
                                    new SelectListItem() {Text = "Cahul", Value = "Cahul"},
                                    new SelectListItem() {Text = "Călărași", Value = "Calarasi"},
                                    new SelectListItem() {Text = "Cimișlia", Value = "Cimislia"},
                                    new SelectListItem() {Text = "Criuleni", Value = "Criuleni"},
                                    new SelectListItem() {Text = "Căușeni", Value = "Causeni"},
                                    new SelectListItem() {Text = "Cantemir", Value = "Cantemir"},
                                    new SelectListItem() {Text = "Chișinău", Value = "Chisinau"},
                                    new SelectListItem() {Text = "Dondușeni", Value = "Donduseni"},
                                    new SelectListItem() {Text = "Drochia", Value = "Drochia"},
                                    new SelectListItem() {Text = "Dubăsari", Value = "Dubasari"},
                                    new SelectListItem() {Text = "Edineț", Value = "Edinet"},
                                    new SelectListItem() {Text = "Fălești", Value = "Falesti"},
                                    new SelectListItem() {Text = "Florești", Value = "Floresti"},
                                    new SelectListItem() {Text = "Unitatea Teritorială Autonomă Gagauzia", Value = "Unitatea Teritoriala Autonoma Gagauzia"},
                                    new SelectListItem() {Text = "Glodeni", Value = "Glodeni"},
                                    new SelectListItem() {Text = "Hîncești", Value = "Hincesti"},
                                    new SelectListItem() {Text = "Ialoveni", Value = "Ialoveni"},
                                    new SelectListItem() {Text = "Leova", Value = "Leova"},
                                    new SelectListItem() {Text = "Nisporeni", Value = "Nisporeni"},
                                    new SelectListItem() {Text = "Ocnița", Value = "Ocnita"},
                                    new SelectListItem() {Text = "Orhei", Value = "Orhei"},
                                    new SelectListItem() {Text = "Rezina", Value = "Rezina"},
                                    new SelectListItem() {Text = "Rîșcani", Value = "Riscani"},
                                    new SelectListItem() {Text = "Șoldănești", Value = "Soldanesti"},
                                    new SelectListItem() {Text = "Sîngerei", Value = "Singerei"},
                                    new SelectListItem() {Text = "Unitatea Teritorială din Stînga Nistrului", Value = "Unitatea Teritoriala din Stinga Nistrului"},
                                    new SelectListItem() {Text = "Soroca", Value = "Soroca"},
                                    new SelectListItem() {Text = "Strășeni", Value = "Straseni"},
                                    new SelectListItem() {Text = "Stefan Vodă", Value = "Stefan Voda"},
                                    new SelectListItem() {Text = "Taraclia", Value = "Taraclia"},
                                    new SelectListItem() {Text = "Ungheni", Value = "Ungheni"}
                                                                   }, new { @onchange = "BindTextBoxValue(this.value)", @class = "input100", placeholder = "Region", style = "color: slategrey" })
                                    @Html.ValidationMessageFor(m => m.Region, null, new { @class = "text-danger" })
                                    <span class="focus-input100"></span>
                                    <span class="symbol-input100">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                                <div class="container-login100-form-btn p-t-10">
                                    <button class="login100-form-btn" value="Register">

                                        Registration
                                    </button>

                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Login/vendor/select2/select2.min.js"></script>
    <script src="~/Login/js/main.js"></script>


    <div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel" align="center"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="aModalLabel">Message</h4>
                </div>
                <div class="modal-body">
                    @ViewBag.Message
                </div>
                <div class="modal-footer">
                    <button id="myButton" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    @if (ViewBag.Message != null)
    {

        <script type="text/javascript">
            $(function () {
                $("#aModal").modal('show');
            });

        </script>
    }
    @if (ViewBag.State)
    {
        <script>

            document.getElementById("myButton").onclick = function () {
                window.location.href = "/Auth/Login";
            };

        </script>
    }
}
<script src="~/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="~/Login/vendor/bootstrap/js/popper.js"></script>
<script src="~/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Login/vendor/select2/select2.min.js"></script>
<script src="~/Login/js/main.js"></script>
