
@{
    ViewData["Title"] = "Votează";
    Layout = "~/Views/Shared/_Auth.cshtml";
}
@model VoteModel
@Html.ValidationSummary(true, null, new { @class = "text-danger" })
@using (Html.BeginForm("Vote", "Auth", FormMethod.Post, new { @id = "VoteForm", @class = "box" }))
{
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('~/Login/images/img-01.jpg');">
            <center><img src="~/images/RVTLogo.png" alt=""></center>
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon"></span>Votează-ți favoritul:
                            <span class="glyphicon"></span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Party, "1")
                                        1. Partidul Verde<div style="width: 30px;height: 30px;background: #00FF27 " align="left" />
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Party, "2")
                                        2. Partidul Rosu
                                        <div style="width: 30px; height: 30px;background: #FF0000" />
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Party, "3")
                                        3. Partidul Albastru
                                    </label>
                                    <div style="width: 30px; height: 30px;background: #0004FF" />
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="radio">

                                    <label>
                                        @Html.RadioButtonFor(m => m.Party, "4")
                                        4. Partidul Galben
                                        <div style="width: 30px;height: 30px;background: #F7FF00" />
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Party, "5")
                                        5. Partidul Roz
                                        <div style="width: 30px; height: 30px; background: #E800C5" />
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="container-login100-form-btn p-t-10">
                            <button class="login100-form-btn ">
                                Vote
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel" align="center"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="aModalLabel">Mesaj</h4>
                </div>
                <div class="modal-body">
                    @ViewBag.Message
                </div>
                <div class="modal-footer">
                    <button id="myButton" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    @if (ViewBag.Message != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript">
            $(function() {
                $("#aModal").modal('show');
            });

        </script>
    }

    <script>
        
            document.getElementById("myButton").onclick = function () {
            window.location.href = "/Home/Index";
            };
    </script>

}
