
<header class="u-clearfix u-header u-header" id="sec-5514">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a class="u-image u-logo u-image-1" data-image-width="200" data-image-height="200">
            <img src="~/images/RVTLogo.png" class="u-logo-image u-logo-image-1" data-image-width="112">
        </a>

        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
                <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="#">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                                <rect y="1" width="16" height="2"></rect>
                                <rect y="7" width="16" height="2"></rect>
                                <rect y="13" width="16" height="2"></rect>
                            </symbol>
                        </defs>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-spacing-20 u-unstyled u-nav-1">
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="@Url.Action("Index","Home")" style="padding: 10px;">Home</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="@Url.Action("Blockchain","Home")" style="padding: 10px;">Blockchain</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="@Url.Action("AboutUs","Home")" style="padding: 10px;">Cine suntem noi?</a>
                    </li>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link" style="padding: 10px;">Autentificare</a><div class="u-nav-popup">
                            <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-4">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="@Url.Action("Registration","Auth")">Înregistrare</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="@Url.Action("Login","Auth")">Logare</a>
                                </li>
                            </ul>
                        </div>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="https://localhost:44373/" style="padding: 10px;">Rezultate</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="@Url.Action("Contact","Home")" style="padding: 10px;">Contacte</a>
                    </li>
                </ul>
            </div>

            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="@Url.Action("Index","Home")" style="padding: 10px;">Home</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="@Url.Action("Blockchain","Home")" style="padding: 10px;">Blockchain</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="@Url.Action("AboutUs","Home")" style="padding: 10px;">Cine suntem noi?</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="@Url.Action("Registration","Auth")" style="padding: 10px;">Înregistrare</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="https://localhost:44373/" style="padding: 10px;">Rezultate</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="@Url.Action("Contact","Home")" style="padding: 10px;">Contacte</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>

        </nav>

    </div>
</header>